 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

 html{
  font-family:  'Fira Sans', sans-serif;
 }

body{
  background-color: black;
  color: white;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

input,
button{
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

ul{
  list-style: none;
}

h1{
  font-weight: 600;
}

/*--app styles--*/
h1{
  margin-top: 35px;
}
.app__form{
  margin-top: 35px;
}
.app{
  background-color: #05292e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.app__text{
  width: 180px;
  padding: 5px;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

.app__btn{
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  background-color: #71a821;
  color: #fff;

}

.app__container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}



.banner{
 background-image: url(../public/banner.jpg);
 width: 100%;
 height: 200px;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}